[user]
	email = leo@gamboa.eu
	name = LeoLuxo

[init]
	defaultBranch = main

# Disable safe directory checks
[safe]
    directory = *

[core]
	# Don't hide the .git directory on windows
	hideDotFiles = false
	# Set the text editor
	editor = "code"
	# Disable the CRLF warning (but still auto convert)
	safecrlf = false

[push]
	autoSetupRemote = true

# Force using the CMD credentials prompt instead of a window
[credential]
	modalprompt = false

# Enforce SSH
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[pull]
	rebase = false
